<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        
        <!-- Css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
        <!--  Boostrap CSS  -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.1.2/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans">
        <title>ucen</title>
    </head>
<body>

    <header>
        <div class="logo_nav">
            <a href="#"><img src="{{ url_for('static', filename='img/logo_ucen.png') }}" alt=""></a>     
        </div>
        
        <div class="btn_sesion">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#myModal_sesion">Iniciar Sesión</button>
        </div>
    </header>

    <nav class="btn_menu">

        <button class="openbtn" onclick="openNav()">&#9776; Menu</button>

    </nav>
    <!--  Administracion Menu  -->
    
    {% if usuario == "practicante" %}
        <!-- Practicante -->
        <nav id="mySidepanel" class="sidepanel">
        
            <div class="user_sidepanel">
                <h2>Practicante</h2>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            </div>
            <div class="menu_sidepanel">
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#myModal_solPractica"><img src="{{ url_for('static', filename='img/solicitante.png') }}" alt=""> Solicitar Práctica</a>
                <a href="practFinalizarPractica"><img src="{{ url_for('static', filename='img/archivo.png') }}" alt=""> Finalizar Práctica</a>
                <a href="convocatorias"><img src="{{ url_for('static', filename='img/peticion.png') }}" alt=""> Convocatorias</a>
            </div>

        </nav>

    {% elif usuario == "empleador"%}
        <!-- Empleador -->
        <nav id="mySidepanel" class="sidepanel">
        
            <div class="user_sidepanel">
                <h2>Empleador</h2>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            </div>
            <div class="menu_sidepanel">
                <a href="#"><img src="{{ url_for('static', filename='img/lista-de-invitados.png') }}" alt=""> Mostrar Practicante</a>
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#myModal_proPractica"><img src="{{ url_for('static', filename='img/dos-empresarios.png') }}" alt=""> Proponer Práctica</a>
                <a href="empEvalPracticante"><img src="{{ url_for('static', filename='img/evaluar.png') }}" alt=""> Evaluar Practicante</a>
            </div>

        </nav>
    
    {% elif usuario == "cordinador"%}
        <!--  Cordinador  -->
        <nav id="mySidepanel" class="sidepanel">
        
            <div class="user_sidepanel">
                <h2>Cordinador</h2>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            </div>
            
            <div class="drop_menu_sidepanel">
                <h2>Practicantes</h2>
                <a href="javascript:void(0)" id="dropdownBtn_practicantes" onclick="openDropdownPracticante()" class="dropdown-btn">&#9660;</a>
            </div>

            <div id="dropdown_practicantes" class="dropdown_container_practicantes">
                <a href="#">Evaluar Practicante</a>
                <a href="listaDePracticantes">Lista de Practicantes</a>
            </div>

            <div class="drop_menu_sidepanel">
                <h2>Practicas</h2>
                <a href="javascript:void(0)" id="dropdownBtn_practicas" onclick="openDropdownPracticas()" class="dropdown-btn">&#9660;</a>
            </div>

            <div id="dropdown_practicas" class="dropdown_container_practicantes">
                <a href="#">Crear Practica</a>
                <a href="solicitudesDePracticante">Ver Solicitudes de Practicantes</a>
                <a href="#">Ver Solicitudes de Practica</a>
                <a href="verPracticasActuales">Ver Practicas Actuales</a>
            </div>

        </nav>
    {% endif %}
    <!--  Fin Administracion Menu  -->

    {% include "modales.html" %}
    {% block modales %}{% endblock %}
    

    <div class="container_content">
        {% block content %}{% endblock %}
    </div>


    <script src="{{ url_for('static', filename='js/sidepanel.js') }}"></script>
    <!--  Boostrap JS  -->
    <script src="{{ url_for('static', filename='bootstrap-5.1.2/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>