{% extends 'base.html' %}

{% block content %}
<div class="titulo_centrado">
    <h3>Convocatorias</h3>
</div>

<div class="container_convocatorias">
    <div class="convocatoria">
        
        <div class="titulo_convocatoria">
            <a href="">Práctica Profesional para Alumnos de ultimo año en ingeniería informática.</a>
        </div>

        <div class="descriptor">
            <p>Soporte de Servidores y Aplicaciones</p>
        </div>

        <div class="tipo_practica">
            <p>Practica Profesional</p>
        </div>

        <div class="nombre_empresa">
            <p>Observatorio de Redes Sociales y Política</p>
        </div>

    </div>
    <div class="convocatoria">
        
        <div class="titulo_convocatoria">
            <a href="">Práctica Profesional para Alumnos de ultimo año en ingeniería informática.</a>
        </div>

        <div class="descriptor">
            <p>Soporte de Servidores y Aplicaciones</p>
        </div>

        <div class="tipo_practica">
            <p>Practica Profesional</p>
        </div>

        <div class="nombre_empresa">
            <p>Observatorio de Redes Sociales y Política</p>
        </div>

    </div>
    <div class="convocatoria">
        
        <div class="titulo_convocatoria">
            <a href="">Práctica Profesional para Alumnos de ultimo año en ingeniería informática.</a>
        </div>

        <div class="descriptor">
            <p>Soporte de Servidores y Aplicaciones</p>
        </div>

        <div class="tipo_practica">
            <p>Practica Profesional</p>
        </div>

        <div class="nombre_empresa">
            <p>Observatorio de Redes Sociales y Política</p>
        </div>

    </div>
    
    <div class="convocatoria">
        
        <div class="titulo_convocatoria">
            <a href="">Práctica Profesional para Alumnos de ultimo año en ingeniería informática.</a>
        </div>

        <div class="descriptor">
            <p>Soporte de Servidores y Aplicaciones</p>
        </div>

        <div class="tipo_practica">
            <p>Practica Profesional</p>
        </div>

        <div class="nombre_empresa">
            <p>Observatorio de Redes Sociales y Política</p>
        </div>

    </div>
    <div class="convocatoria">
        
        <div class="titulo_convocatoria">
            <a href="">Práctica Profesional para Alumnos de ultimo año en ingeniería informática.</a>
        </div>

        <div class="descriptor">
            <p>Soporte de Servidores y Aplicaciones</p>
        </div>

        <div class="tipo_practica">
            <p>Practica Profesional</p>
        </div>

        <div class="nombre_empresa">
            <p>Observatorio de Redes Sociales y Política</p>
        </div>

    </div>
    <div class="convocatoria">
        
        <div class="titulo_convocatoria">
            <a href="">Práctica Profesional para Alumnos de ultimo año en ingeniería informática.</a>
        </div>

        <div class="descriptor">
            <p>Soporte de Servidores y Aplicaciones</p>
        </div>

        <div class="tipo_practica">
            <p>Practica Profesional</p>
        </div>

        <div class="nombre_empresa">
            <p>Observatorio de Redes Sociales y Política</p>
        </div>

    </div>
    <div class="convocatoria">
        
        <div class="titulo_convocatoria">
            <a href="">Práctica Profesional para Alumnos de ultimo año en ingeniería informática.</a>
        </div>

        <div class="descriptor">
            <p>Soporte de Servidores y Aplicaciones</p>
        </div>

        <div class="tipo_practica">
            <p>Practica Profesional</p>
        </div>

        <div class="nombre_empresa">
            <p>Observatorio de Redes Sociales y Política</p>
        </div>

    </div>
    
</div>
{% endblock %}


