{% extends 'base.html' %}

{% block content %}
<div class="titulo_centrado">
    <h3>Lista de Practicantes</h3>
</div>
<table class="tamano_tabla table">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Nombre</th>
        <th scope="col" class="text-center">Carrera</th>
        <th scope="col" class="text-center">Rut</th>
        <th scope="col" class="text-center">Email</th>
        <th scope="col" class="text-center">Telefono</th>
        <th scope="col" class="text-center">ID practica</th>
        <th scope="col" class="text-center">Disponibilidad</th>
        <th scope="col" class="text-center">Nota</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="text-center">1</th>
        <td class="text-center">Juan Yevenes</td>
        <td class="text-center">Ing. Civil Informatica</td>
        <td class="text-center">19.915.769-8</td>
        <td class="text-center">prac@email.com</td>
        <td class="text-center">+569 5688 2212</td>
        <td class="text-center">5688</td>
        <td class="text-center">??</td>
        <td class="text-center">7.0</td>
      </tr>

      <tr>
        <th scope="row" class="text-center">1</th>
        <td class="text-center">Juan Yevenes</td>
        <td class="text-center">Ing. Civil Informatica</td>
        <td class="text-center">19.915.769-8</td>
        <td class="text-center">prac@email.com</td>
        <td class="text-center">+569 5688 2212</td>
        <td class="text-center">5688</td>
        <td class="text-center">??</td>
        <td class="text-center">7.0</td>
      </tr>
      
    </tbody>
  </table>

{% endblock %}