{% extends 'base.html' %}

{% block content %}
<div class="titulo_centrado">
    <h3>Finalizar Practica</h3>
</div>
<table class="tamano_tabla table">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Nombre</th>
        <th scope="col" class="text-center">Tipo de Practica</th>
        <th scope="col" class="text-center">Fecha Inicio</th>
        <th scope="col" class="text-center">Fecha Termino</th>
        <th scope="col" class="text-center">Evaluar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="text-center">1</th>
        <td class="text-center">Practica Lorem</td>
        <td class="text-center">Operacional</td>
        <td class="text-center">02/09/2021</td>
        <td class="text-center">02/12/2021</td>
        <td class="text-center"><button type="button" class="btn btn-danger" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#myModal_AutoevalPract">Finalizar Practica <img src="{{ url_for('static', filename='img/cheque.png') }}" alt=""></button></td>
      </tr>
      <tr>
        <th scope="row" class="text-center">2</th>
        <td class="text-center">BBVA</td>
        <td class="text-center">Profesional</td>
        <td class="text-center">02/09/2021</td>
        <td class="text-center">02/12/2021</td>
        <td class="text-center"><button type="button" class="btn btn-danger" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#myModal_AutoevalPract">Finalizar Practica <img src="{{ url_for('static', filename='img/cheque.png') }}" alt=""></button></td>
      </tr>
    </tbody>
  </table>

{% endblock %}