{% extends 'base.html' %}

{% block content %}
<div class="titulo_centrado">
    <h3>Practicas Actuales</h3>
</div>
<table class="tamano_tabla table">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">id practicante</th>
        <th scope="col" class="text-center">Nombre</th>
        <th scope="col" class="text-center">Carrera</th>
        <th scope="col" class="text-center">Rut</th>
        <th scope="col" class="text-center">Email</th>
        <th scope="col" class="text-center">ID practica</th>
      </tr>
    </thead>
    <tbody>

      {% for rows in range(0, len) %}

      <tr>
        <th scope="row" class="text-center">{{rows+1}}</th>
        <td class="text-center">{{lista_practicantes[rows][0]}}</td>
        <td class="text-center">{{lista_practicantes[rows][1]}}</td>
        <td class="text-center">{{lista_practicantes[rows][2]}}</td>
        <td class="text-center">{{lista_practicantes[rows][3]}}</td>
        <td class="text-center">{{lista_practicantes[rows][4]}}</td>
        <td class="text-center">{{lista_practicantes[rows][5]}}</td>
      </tr>

      {% endfor %}
      

    </tbody>
  </table>

{% endblock %}