* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
    background-size: cover;
	background-attachment: fixed;
}

/* HEADER */

header {
    max-width: 1920px;
    display: flex;
    justify-content:space-between;
	align-items:center;
    background: #4eeccd;
    padding: 15px 30px;
}

.logo_nav {
    width: 20%;
    padding: 5px 5px;
}

.logo_nav img{
    width: 100%;
}

.btn_sesion{
    width: 10%;
}
.btn_sesion button{
    width: 100%;
}
/* FIN HEADER */

/* Boton Menu */

.btn_menu{
    max-width: 1920px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: #575757;
    padding: 0 2px;
}

.openbtn{
    font-size: 20px;
    cursor: pointer;
    background-color: #575757;
    color: #ffffff;
    border: none;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 3px 6px;
    margin: 5px 0 5px 0;
    transition-duration: 0.4s;
    border-radius: 4px;
    border: 2px solid transparent;
}

.openbtn:hover{
    border: 2px solid white;
}

/* FIN Boton Menu */


/* Slidevar Menu */

.sidepanel{
    display: flex;
    width: 0;
    flex-direction: column;
    background-color: #ffffff;
    border-right: 1px solid #B6B6B6;
    transition: 0.5s;
    z-index: 1;
    overflow-x: hidden;
    position: fixed;
}
.user_sidepanel{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 4px 10px;
    border-bottom: 1px solid #B6B6B6;
}

.user_sidepanel h2{
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.user_sidepanel .closebtn{
    font-size: 32px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.user_sidepanel a:hover{
    color: #B6B6B6;
}

.menu_sidepanel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidepanel .menu_sidepanel a{
    text-decoration: none;
    padding: 15px 15px;
    border-bottom: 1px solid #B6B6B6;
    font-size: 20px;
    font-weight: 400;
    color: black;
    transition: 0.3s;
}

.sidepanel .menu_sidepanel a:hover{
    color: #B6B6B6;
}

.sidepanel .drop_menu_sidepanel{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 4px 10px;
    border-bottom: 1px solid #B6B6B6;
}

.sidepanel .drop_menu_sidepanel h2{
    font-size: 22px;
    color: black;
    font-weight: 600;
}

.sidepanel .drop_menu_sidepanel .dropdown-btn{
    font-size: 18px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.sidepanel .drop_menu_sidepanel a:hover{
    color: #B6B6B6;
}


.sidepanel .dropdown_container_practicantes{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}

.sidepanel .dropdown_container_practicantes a{
    text-decoration: none;
    padding: 10px 12px;
    border-bottom: 1px solid #B6B6B6;
    font-size: 20px;
    font-weight: 400;
    color: black;
    transition: 0.3s;
}

.sidepanel .dropdown_container_practicantes a:hover{
    color: #B6B6B6;
}


/* Fin Slidevar Menu */

.container_content{
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_content .tamano_tabla{
    width: 80%;
    
}

.titulo_centrado{
    display: flex;
    justify-content: center;
    text-align: center;
}

.titulo_centrado h3{
    font-size: 30px;
    color: black;
    font-weight: 800;
    padding: 20px 0;
}

.subtitulo_evaluacion{
    font-size: 17px;
    color: black;
    font-weight: 800;
}


.tamano_tabla .btn_docs{
    font-weight: 600;
}